body{
    background-color: rgb(211, 214, 215);
    max-width: 1240px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
p{
    color: rgb(16, 53, 53);
}

.container-three{
    display: flex;
    align-items: center;
    row-gap: 5%;
}
#middle img{
    width: 380px;
}
/* testing */ 
.two-container{
    display: flex;
    align-items: center;
    row-gap: 5%;
}
.two-container .split{
    /* width: 50%; */
}
.split{
    padding: 20px;
}
.split img {
    width: 100%;
}
.split video {
    width: 100%;
}

.part-image{
    border-radius: 50%;
}
.title{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10%;

}
.title:hover{
    color: darkblue;
}
/*
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    margin-bottom: 40px;
    overflow-wrap: break-word;
} */
.Hire{
    position: sticky;
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    background-color: rgb(94, 94, 202);
    border-radius: 20% 5%;
    padding: 15px 20px;
    margin: 5px;
}

footer{
    margin-top: 100px;
    text-align: center;
    color: rgb(0, 0, 240);
}

/* smaller device */

@media screen and (max-width: 576px ) {
    .two-container{
        display: flex;
        flex-direction:column;
    }
    .container-three{
        display: flex;
        flex-direction: column-reverse;
    }
    
}
/* Medium device */

@media screen and (min-width: 577px) and (max-width: 1240px) {
    
}